label {
  user-select: none;
}
fieldset[disabled] * {
  cursor: not-allowed;
}

.cursor-pointer {
  cursor: pointer;
}
.cursor-help {
  cursor: help;
}
.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
